{%extends "componentes/base.html"%}
{%block content%}




<div class="div-info">
  <div class="info-alumno">
    <img class="img-alumno" src="https://www.dhresource.com/0x0/f2/albu/g8/M00/8A/D5/rBVaV1vzx3WABGMKAAQpGtVm-Zk388.jpg" alt="">
    <br>
    <hr>
    <br>
    Alumno: {{alumno.nombre}}
    <br>
    <br>
    Carrera: {{alumno.carrera}}
    <br>
    <br>
    Semestre: {{alumno.semestre}}
  </div>

  <div class="div-opcion">
    <a class="waves-effect waves-light btn white-text" onclick="agregar_buscador();">Solisitar</a>
    <a class="waves-effect waves-light btn white-text" onclick="agregar_solisitudes();">Entregar</a>
  </div>
</div>









<div class="div-visualizar">


  <div class="div-titulo">
    <div id="accion" class="titulo" name="accion">Actividad</div>
  </div>



  <form class="" action="/administrador/buscar/articulo/" method="GET" id="formulario">
    <input type="text" name="articulo" value="{% if id %} ptint("id"){% endif%}" placeholder="ID">
    <button class="waves-effect waves-light btn white-text" type="button" name="button">Buscar</button>

    <input type="hidden" id="custId" name="nombre_alumno" value="{{alumno.nombre}}">
    <input type="hidden" id="custId" name="carrera" value="{{alumno.carrera}}">
    <input type="hidden" id="custId" name="semestre" value="{{alumno.semestre}}">
    <input type="hidden" id="custId" name="numero_control" value="{{alumno.numero_control}}">

  </form>
  <button class="waves-effect waves-light btn white-text" type="button" name="button">Otro</button>

  <form class="" action="index.html" method="post" id="solisitudes">
    
  </form>

  {% if articulo %}

  Responsable: {{alumno.nombre}}
  <br>
  Articulo: {{articulo.nombre}}
  <br>
  Precio: ${{articulo.precio}}
  <br>
  <form class="" action="/administrador/buscar/articulo/generar_prestamo/" method="post">{% csrf_token %}
    <button class="waves-effect waves-light btn white-text" type="submit" name="button">Generar Prestamo</button>

    <input type="hidden" id="custId" name="nombre_alumno" value="{{alumno.nombre}}">
    <input type="hidden" id="custId" name="carrera" value="{{alumno.carrera}}">
    <input type="hidden" id="custId" name="semestre" value="{{alumno.semestre}}">
    <input type="hidden" id="custId" name="numero_control" value="{{alumno.numero_control}}">
    <input type="hidden" id="custId" name="id_articulo" value="{{articulo.id}}">
  </form>


  {% endif%}
</div>



{%endblock%}
