{%extends "componentes/base.html"%}
{%block content%}




<div class="div-info">
  <div class="info-alumno">
    <img class="img-alumno" src="https://www.dhresource.com/0x0/f2/albu/g8/M00/8A/D5/rBVaV1vzx3WABGMKAAQpGtVm-Zk388.jpg" alt="">
    <br>
    <hr>
    <br>
    Alumno: {{nombre_alumno}}
    <br>
    <br>
    Carrera: {{carrera}}
    <br>
    <br>
    Semestre: {{semestre}}
  </div>

  <div class="div-opcion">
    <a class="waves-effect waves-light btn white-text" onclick="agregar_buscador();">Solisitar</a>
    <a class="waves-effect waves-light btn white-text" onclick="agregar_solisitudes();">Entregar</a>
  </div>
</div>









<div class="div-visualizar">


  <div class="div-titulo">
    <div id="accion" class="titulo" name="accion">Actividad</div>
  </div>

  <div class="">
    lol
  </div>

  <form class="" action="/administrador/buscar/articulo/" method="GET" id="formulario">

  </form>

  <form class="" action="index.html" method="post" id="solisitudes">

  </form>
</div>

{%endblock%}
