{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Silab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>

  <body>

    <section>
    <div class="navbar-wropper">
      <nav class="navbar navbar-expand-lg navbar-light ">

        <a class="navbar-brand" href="/administrador/">Silab</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
          </ul>
          <a class="navbar-brand" href="/logout/">Salir</a>
        </div>

      </nav>

      <div class="div-search">

        <form class="form-inline my-2 my-lg-0" method="get" onsubmit="return enviar();">
        <input class="form-control mr-sm-2" name="numero_control" type="search" placeholder="Buscar " aria-label="buscar" id="numero_control">
        <button  class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnNum" value="Enviar">Buscar</button>

      </div>
    </div>
  </section>

  <div class="container mt-5" id="respa">
    <div class="row ">
      <div class="col-md-12 ">
        <h1 class="display-4 text-center"> Ultimos prestamos</h1>
        <div class="tabla ">
          <table class="table " >
          <thead class="mt-4 thead-dark">
          <tr >
            <th scope="col">Numero de Control</th>
            <th scope="col">Nombre</th>
            <th scope="col">Carrera</th>
            <th scope="col">Semestre</th>
            <th scope="col"> </th>
          </tr>
          </thead>
          <tbody>
          <!-- persona es una varibale nueva y personas es la variable del contexto -->
          {% for alumnos in alum %}
          <tr>
            <th thead-light>{{alumnos.id}}</th>
            <th thead-light>{{alumnos.nombre}}</th>
            <th thead-light>{{alumnos.carrera}}</th>
            <th thead-light>{{alumnos.semestre}}</th>
            <th thead-light><a href="{% url 'detalles_alumno' alumnos.id %}">Ver</a></th>

          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  </body>
</html>
