{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Silab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>

  <body>

    <section>
    <div class="navbar-wropper">
      <nav class="navbar navbar-expand-lg navbar-light ">

        <a class="navbar-brand" href="/administrador/">Silab</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
          </ul>
          <a class="navbar-brand" href="/logout/">Salir</a>
        </div>

      </nav>

      <div class="div-search">

        <form class="form-inline my-2 my-lg-0" method="get" onsubmit="return enviar();">
        <input class="form-control mr-sm-2" name="numero_control" type="search" placeholder="Buscar " aria-label="buscar" id="numero_control">
        <button  class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnNum" value="Enviar">Buscar</button>

      </div>
    </div>
  </section>
<div class="container">
  <p class="display-4">No tiene ningun adeudo, alumno liberado </p>
</div>
  </body>
</html>
