<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liberacion</title>
</head>
<body>
    <h2 style=" font-size:20px;text-align:center; font-family: font-family: 'Titillium Web', sans-serif;">Carta de liberacion.</h1>
      <br>
      <p style="font-size:20px; font-family: font-family: 'Titillium Web', sans-serif;">Por medio del documento presente, se consta que el alumno/a {{alum.nombre}} de la carrera {{alum.carrera}} con numero de control {{alum.id}} no tiene algun tipo de adeudo en el Instituto Tecologico Superior de Lerdo. </p>
      <br>
      <p style="font-size:20px; font-family: font-family: 'Titillium Web', sans-serif;"> </p>

</body>
</html>
